* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    background: #f1f1f1;
    font-family: Roboto, sans-serif;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  body.dark {
    background: #111;
  }
  a {
    color: #222;
    text-decoration: none;
    font-weight: 500;
  }

  .nav {
    background: #fefefe;
   
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
   
  }
  body.dark .nav {
    background: #222;

  }
  body.dark  h3 {
    color: white;
  } 

  body.dark .form_content {
    background: white;
    color: black;
  }
  body.dark .scroll{
    background: white;
    color: black;
  }

.form_content{
  background: black;
  color: white;
}

  .switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: 0;
  }
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .switch.active {
    background: orange;
    color: #000;
  }
  .switch.active::after {
    right: 0;
    left: unset;
  }
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: 0 0;
    color: #fff;
    padding: 0 0 0 7px;
  }  

  .form_content{
    border: 2px solid rgb(245, 245, 255);
    border: 2px solid whitesmoke;
    border-radius: 40px;
    }
    
    .btn{
    border-radius: 30px;
    }
    .btn_delete{
     color: white;
     font-weight: bold;
     padding: 8px 10px;
     border:none;
     border-radius: 10px;
     text-decoration: none;
     cursor: pointer;
    }
    .btn_delete:hover{
      color: blanchedalmond;
    }
    
 /*estilos boton scroll*/
.scroll{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-weight: bold;
    background: black;
    color: white;
    cursor: pointer;
    outline: 0;
    border: none;
    }
    
    .ocultar{
    visibility: hidden;
    opacity: 0;
    }