/*.container{
 margin-top: 50px;
}*/


.form_content{
border: 2px solid rgb(245, 245, 255);
border: 2px solid whitesmoke;
border-radius: 40px;
}

.btn{
border-radius: 30px;
}
.btn_delete{
 background-color: red;
 color: white;
 font-weight: bold;
 padding: 5px 10px;
 border:none;
 border-radius: 10px;
 text-decoration: none;
 cursor: pointer;
}
.btn_delete:hover{
  color: blanchedalmond;
}
.opacity-50{
  opacity: 50%;
}
/*estilos del spiner*/
.hidden{
 display: none;
}
